#chatbox {
  height: 60vh;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#capstone {
  height: calc(60vh - 60px);
}

#userInput {
  display: flex;
  border: 3px solid grey;
}
#textInput {
  width: 90%;
  border: none;
  font-size: 16px;
}

#buttonInput {
  width: 10%;
  font-size: 16px;
}

.chatBubble {
  width: fit-content;
  border-radius: 10px;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.userText {
  margin-left: auto;
  margin-right: 10px;
  background-color: #1982fc;
}

.botText {
  margin-left: 10px;
  margin-right: auto;
  background-color: #43cc47;
}

.link {
  color: white;
  text-decoration: underline;
}

/* mobile + small screen */
@media screen and (max-width: 480px) {
  #chatbox {
    height: 80vh;
  }
  #capstone {
    height: calc(80vh - 60px);
  }
}
