#chatbox {
  height: 60vh;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#capstone {
  height: calc(60vh - 60px);
}

#userInput {
  display: flex;
  border: 3px solid grey;
}
#textInput {
  width: 90%;
  border: none;
  font-size: 16px;
}

#buttonInput {
  width: 10%;
  font-size: 16px;
}

.chatBubble {
  width: fit-content;
  border-radius: 10px;
  text-align: justify;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.userText {
  margin-left: auto;
  margin-right: 10px;
  background-color: #009688;
}

.botText {
  margin-left: 10px;
  margin-right: auto;
  background-color: #ef5350;
}

.link {
  color: white;
  text-decoration: underline;
}
