<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand h1" href="."><i class="fas fa-robot"></i> BennyBot</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div id="chatbox" class="border border-primary">
                    <div id="capstone"></div>
                    <div class="botText chatBubble">
                        <span>Hi! I'm BennyBot</span>
                    </div>
                </div>
                <div id="userInput">
                    <input id="textInput" class="form-control shadow-none" type="text" name="msg"
                        placeholder="Type Your Message Here" autofocus>
                    <button id="buttonInput" type="submit" class="btn btn-default btn-sm shadow-none">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
        <script>
            function reduceCapstoneHeight() {
                var el = document.getElementById("capstone");
                var height = el.offsetHeight;
                var newHeight = height - 60;
                el.style.height = newHeight + 'px';
            }

            function scrollToBottom() {
                var objDiv = document.getElementById("chatbox");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
            function getResponse() {
                reduceCapstoneHeight()
                let userText = $("#textInput").val();
                let userHtml = '<div class="userText chatBubble"><span>' + userText + '</span></div>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                scrollToBottom()
                document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });

                fetch('/chat', {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        sentence: userText
                    })
                }).then(function (res) {
                    return res.json()
                }).then(function (data) {
                    reduceCapstoneHeight()
                    // console.log(data)
                    var botHtml = '<div class="botText chatBubble"><span>' + data.msg + '</span></div>';
                    if (data.link !== undefined) {
                        var botHtml = '<div class="botText chatBubble"><span>' + data.msg + '</span> <a class="link" href = "' + data.link + '"> Link </a></div>';
                    }
                    $("#chatbox").append(botHtml);
                    scrollToBottom()
                    document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
                })
            }
            $("#textInput").keypress(function (e) {
                //if enter key is pressed
                if (e.which == 13 && $("#textInput").val() !== "") {
                    getResponse();
                }
            });
            $("#buttonInput").click(function () {
                if ($("#textInput").val() !== "") {
                    getResponse();
                }
            });
        </script>

    </div>
</body>

</html>